{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Sat 09:00-16:00</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>091-247-2006</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Public Bank of Kerala</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'bankapp:userhome' %}" style="color:#fff;"><b>Home</b>
<!--                  <span class="sr-only">(current)</span>-->
                </a>
              </li>
                {% if user.is_authenticated %}
                <li style="color:#fff;">Welcome {{user.username}}</li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'bankapp:logout' %}" style="color:#fff;">Logout</a>
              </li>
                {% endif %}

            </ul>
          </div>
        </div>
      </nav>
    </header>


    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Here for You, Every Step of the Way</h6>
                  <h4>Your Trusted <br>Banking Partner</h4>
                  <p></p>
                  <a href="{% url 'bankapp:application_form' %}" class="filled-button">Apply</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>We Stand Ready to Assist You</h6>
<!--                  <h4>Accounting<br>&amp; Management</h4>-->
<!--                  <p>You are allowed to use this template for your company websites. You are NOT allowed to re-distribute this template ZIP file on any template download website. Please contact TemplateMo for more detail.</p>-->
                  <a href="{% url 'bankapp:application_form' %}" class="filled-button">Apply</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Your Comfort, Our Commitment</h6>
                  <h4>Banking At Home, <br>Bringing Support to Your Doorstep</h4>
<!--                  <h4>Market Analysis<br>&amp; Statistics</h4>-->
<!--                  <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>-->
                  <a href="{% url 'bankapp:application_form' %}" class="filled-button">Apply</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Instant Assistance Awaits: Request a Callback Now for Prompt and Personalized Support!</span>
          </div>
          <div class="col-md-4">
            <a href="contact.html" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Bank <em>Services</em></h2>
              <span>Explore the Range of Services We Offer for Your Financial Well-being.</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/home.jpeg' %}" alt="" style="height:250px">
              <div class="down-content">
                <h4>Easy Home Loan</h4>
                <p>Turn your home ownership dreams into reality with our Easy Home Loan service. We offer simplified processes, competitive interest rates, and flexible repayment options, ensuring that securing your dream home is a hassle-free experience. Experience the joy of homeownership with our dedicated support and straightforward application process under our Easy Home Loan offering.</p>
                <a href="{% url 'bankapp:index' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/gold.jpeg' %}" alt="" style="height:250px">
              <div class="down-content">
                <h4>Gold Loan</h4>
                <p>Unlock the value of your gold assets with our Gold Loan service, providing you quick and convenient access to funds for your immediate financial needs. Our transparent and hassle-free process ensures a smooth borrowing experience, with flexible repayment options that suit your financial goals. Enjoy competitive interest rates and secure your loan against gold with confidence, backed by the trust of Public Bank of Kerala.</p>
                <a href="{% url 'bankapp:index' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{% static 'assets/images/onlinebank.jpeg' %}" alt="" style="height:250px">
              <div class="down-content">
                <h4>Online Banking</h4>
                <p>Experience banking at your fingertips with our robust Online Banking platform. Seamlessly manage your accounts, transfer funds, pay bills, and monitor transactions from the comfort of your home or on the go. Our secure and user-friendly online banking service is designed to provide you with convenience and control over your finances, ensuring a modern and efficient banking experience.</p>
                <a href="{% url 'bankapp:index' %}" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Empowering Your Prosperity: </span>
              <h2>Our solutions for your <em>financial growth</em></h2>
              <p>Our commitment to your financial well-being extends beyond traditional banking services. At Public Bank of Kerala, we take pride in offering tailored solutions designed to fuel your financial growth. Our comprehensive suite of services includes personalized investment opportunities, strategic financial planning, and innovative digital solutions. Whether you are a budding entrepreneur seeking business financing or an individual planning for a secure financial future, our solutions are crafted to meet the unique demands of your journey.
              <br><br>With competitive interest rates, flexible repayment options, and a focus on ethical financial practices, we aim to be your steadfast partner in achieving long-term prosperity. Embrace a new era of financial growth with Public Bank of Kerala, where your success is our priority.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">28730</div>
                  <div class="count-title">Financial Assistance</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">315608</div>
                  <div class="count-title">Digital Transactions</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">120</div>
                  <div class="count-title">Community Projects</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">85</div>
                  <div class="count-title">Awards & Recognitions</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="{% static 'assets/images/more-info.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our Bank</em></h2>
                    <p>Public Bank of Kerala is a trusted financial institution committed to empowering communities and individuals across the region. With a legacy built on integrity, transparency, and customer-centric values, we have emerged as a reliable banking partner for diverse financial needs. <br> Our mission is to provide innovative banking solutions that foster economic growth, financial inclusion, and community development. Backed by a dedicated team and cutting-edge technology, Public Bank of Kerala is your go-to destination for a seamless and secure banking experience, ensuring a brighter financial future for all</p>
                    <a href="{% url 'bankapp:index' %}" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>Reviews from our Clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Arjun Mohan</h4><br>
<!--                  <span>Chief Financial Analyst</span>-->
                  <p>"I can't express how satisfied I am with the services provided by Public Bank of Kerala. The approval process for my Easy Home Loan was quick and hassle-free, and the interest rates were competitive. The staff exhibited a high level of professionalism and guided me through every step, making the entire experience stress-free. I highly recommend Public Bank of Kerala to anyone seeking trustworthy and customer-centric banking services."</p>
                </div>
<!--                <img src="http://placehold.it/60x60" alt="">-->
              </div>

              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Jasmin Jacob</h4><br>
<!--                  <span>Market Specialist</span>-->
                  <p>"Securing a Gold Loan from Public Bank of Kerala was a game-changer for me. The process was not only straightforward but also surprisingly swift. The competitive interest rates and flexible repayment options demonstrated their commitment to customer satisfaction. Public Bank of Kerala has undoubtedly set the standard for customer-centric banking services, and I am grateful for the seamless and efficient experience they provided."</p>
                </div>
<!--                <img src="http://placehold.it/60x60" alt="">-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--              <div class="testimonial-item">-->
<!--                <div class="inner-content">-->
<!--                  <h4>David Wood</h4>-->
<!--                  <span>Chief Accountant</span>-->
<!--                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>-->
<!--                </div>-->
<!--                <img src="http://placehold.it/60x60" alt="">-->
<!--              </div>-->
<!--              -->
<!--              <div class="testimonial-item">-->
<!--                <div class="inner-content">-->
<!--                  <h4>Andrew Boom</h4>-->
<!--                  <span>Marketing Head</span>-->
<!--                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>-->
<!--                </div>-->
<!--                <img src="{% static 'assets/images/bank1.jpg' %}" alt="">-->
<!--              </div>-->
<!--              -->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span> Initiate Your Personalized Financial Conversation with a Call Back Request Today</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="partners">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="owl-partners owl-carousel">-->
<!--            -->
<!--              <div class="partner-item">-->
<!--                <img src="{% static 'assets/images/client-01.png' %}" title="1" alt="1">-->
<!--              </div>-->
<!--              -->
<!--              <div class="partner-item">-->
<!--                <img src="{% static 'assets/images/client-01.png' %}" title="2" alt="2">-->
<!--              </div>-->
<!--              -->
<!--              <div class="partner-item">-->
<!--                <img src="{% static 'assets/images/client-01.png' %}" title="3" alt="3">-->
<!--              </div>-->
<!--              -->
<!--              <div class="partner-item">-->
<!--                <img src="{% static 'assets/images/client-01.png' %}" title="4" alt="4">-->
<!--              </div>-->
<!--              -->
<!--              <div class="partner-item">-->
<!--                <img src="{% static 'assets/images/client-01.png' %}" title="5" alt="5">-->
<!--              </div>-->
<!--              -->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<hr>
              <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>Public Bank of Kerala</h4>
            <p>Our aim is to provide innovative and personalized banking solutions that cater to the unique needs of individuals, businesses, and communities in Kerala. Through a commitment to transparency, ethical practices, and financial inclusion, we strive to contribute to the growth and prosperity of our customers and the region as a whole.</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              <li><a href="#">Interest Rate</a></li>
              <li><a href="#">Service Charge</a></li>
              <li><a href="#">Policies & Guidelines</a></li>
              <li><a href="#">Doorstep banking</a></li>
              <li><a href="#">Smart Banking</a></li>
              <li><a href="#">Safe Banking</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="#">About Us</a></li>
              <li><a href="#">How We Work</a></li>
              <li><a href="#">Quick Support</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item last-item">
            <h4>Contact Us</h4>
            <div class="contact-form">
              <form id="contact footer-contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
              <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2024 Public Bank of Kerala

            </p>
          </div>
        </div>
      </div>
    </div>


              <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>




<!--    &lt;!&ndash; Footer Starts Here &ndash;&gt;-->
<!--    <footer>-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-3 footer-item">-->
<!--            <h4>Bank Website</h4>-->
<!--            <p>We always aim at providing superior, proactive banking service to niche market globally, while providing cost effective and responsive services</p>-->
<!--            <ul class="social-icons">-->
<!--              <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
<!--              <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-md-3 footer-item">-->
<!--            <h4>Useful Links</h4>-->
<!--            <ul class="menu-list">-->
<!--              <li><a href="#">Intrest Rate</a></li>-->
<!--              <li><a href="#">Service Charge</a></li>-->
<!--              <li><a href="#">Policies & Guidelines</a></li>-->
<!--              <li><a href="#">Doorstep banking</a></li>-->
<!--              <li><a href="#">Smart Banking</a></li>-->
<!--              <li><a href="#">Safe Banking</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-md-3 footer-item">-->
<!--            <h4>Additional Pages</h4>-->
<!--            <ul class="menu-list">-->
<!--              <li><a href="#">About Us</a></li>-->
<!--              <li><a href="#">How We Work</a></li>-->
<!--              <li><a href="#">Quick Support</a></li>-->
<!--              <li><a href="#">Contact Us</a></li>-->
<!--              <li><a href="#">Privacy Policy</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="col-md-3 footer-item last-item">-->
<!--            <h4>Contact Us</h4>-->
<!--            <div class="contact-form">-->
<!--              <form id="contact footer-contact" action="" method="post">-->
<!--                <div class="row">-->
<!--                  <div class="col-lg-12 col-md-12 col-sm-12">-->
<!--                    <fieldset>-->
<!--                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">-->
<!--                    </fieldset>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12 col-md-12 col-sm-12">-->
<!--                    <fieldset>-->
<!--                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">-->
<!--                    </fieldset>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12">-->
<!--                    <fieldset>-->
<!--                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>-->
<!--                    </fieldset>-->
<!--                  </div>-->
<!--                  <div class="col-lg-12">-->
<!--                    <fieldset>-->
<!--                      <button type="submit" id="form-submit" class="filled-button">Send Message</button>-->
<!--                    </fieldset>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--    -->
<!--    <div class="sub-footer">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <p>Copyright &copy; 2020 Bank Website.-->
<!--            -->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>-->
<!--    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->

<!--    &lt;!&ndash; Additional Scripts &ndash;&gt;-->
<!--    <script src="{% static 'assets/js/custom.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/owl.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/slick.js' %}"></script>-->
<!--    <script src="{% static 'assets/js/accordions.js' %}"></script>-->

<!--    <script language = "text/Javascript"> -->
<!--      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field-->
<!--      function clearField(t){                   //declaring the array outside of the-->
<!--      if(! cleared[t.id]){                      // function makes it static and global-->
<!--          cleared[t.id] = 1;  // you could use true and false, but that's more typing-->
<!--          t.value='';         // with more chance of typos-->
<!--          t.style.color='#fff';-->
<!--          }-->
<!--      }-->
<!--    </script>-->
  </body>
</html>